@import  url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0; padding: 0;
    font-family: 'Roboto', sans-serif;
}
main{
   margin-bottom: 10px; padding: 16px;
}
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 24px 0px 24px 0px;
    background-color: #478344;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px #ff5a34;
    padding: 16px;
    background-color: #ff5a34;
    color: white;
}
a:hover{
background-color: #ff5a34;
}
a{
    text-decoration: none;
}
a:visited{
    color: white;
}
.listname{
    margin-bottom: 10px; padding: 16px;
}
.veg_taco_text{
    color: #478344;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
title{
    color: #146252;
}
tr:nth-child(even) {
    background-color: #e5e5e5;
}
